/*
 * Notes
 */
._qui-note {
	transition:all 0.2s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	text-align:left;
	position:absolute;
	transform:translateY(-30px);
	color:#fff;
	opacity:0;
	background-color: #8888e8;
	z-index:300003;
	box-sizing: border-box;
}
._qui-note._qui-state-error {
	background-color: #c83833;
}
._qui-note._qui-state-transitioned {
	transform:translateY(0px);
	opacity:1;
	transition:all 0.5s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
._qui-note._qui-state-closing {
	transform:translateY(30px);
}
._qui-note span {
	padding:0 2px;
	border:2px solid rgba(255,255,255,0.2);
	vertical-align:top;
	font-size:15px;	
}
._qui-note hr {
	padding:0;
	margin:10px 0;
	border-top: 1px solid rgba(255,255,255,0.2);
}
._qui-note-arrow {
	transition:top 0s,bottom 0s,left 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	position:absolute;
	top:-7px;
	width: 24px;
    height: 24px;
    transform:rotate(45deg);
    overflow:hidden;
}
._qui-note-arrow:after {
	content:'';
	background-color: #8888e8;
    transform:rotate(-45deg);
    position:absolute;
    width: 24px;
    height: 24px;
    top:-10px;
    left:-10px;
}
._qui-note-top-pos ._qui-note-arrow {
	top:initial;
	bottom:-6px;
	margin-left:0px;
}
._qui-note-top-pos ._qui-note-arrow:after {
	background-color: #8888e8;
	top:12.5px;
    left:12.5px;
    transition: .092s background-color cubic-bezier(.36,.07,.19,.97);
}
._qui-note-text {
	padding:10px 15px;
}
._qui-note-secondary-data {
	width: 100%;
    background-color: #f0f0f0;
    color:#444;
    padding:10px 15px;
    box-sizing: border-box;
}
._qui-animation-shake ._qui-note-arrow:after {
	background-color: #c83833;
}
._qui-note-top-pos._qui-state-secondary ._qui-note-arrow:after {
	background-color: #f0f0f0;
	transition: 0s;
}

/* animations */
._qui-animation-shake {
	animation: _qui-animation-shake 0.92s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes _qui-animation-shake {
  10%, 90% {
    transform: translate3d(-1.5px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-6px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(6px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

/*
 * BarberShopLoader
 */
._qui-barbershop-loader {
	overflow:hidden;
	white-space: nowrap;
	opacity:0.7;
	cursor:wait;
	position:relative;
	display:inline-block;
}
._qui-barbershop-bar {
	position: absolute;
	background-color:#336699;
	transform-origin: 50% 50%;
	height:100%;
	display:inline-block;
	transform:rotate(45deg);
}
._qui-barbershop-holder {
	position:absolute;
	top:0;
	transform-origin: 50% 50%;
	transform:translateX(0);
	z-index: 1;
	transition:0s all;
}

/*
 * xySelect
 */
._qui-xyselect {
	box-sizing: border-box;
	background-color:#003366;
	position:relative;
	cursor:grab;
}
._qui-xyselect-handle {
	top:0;
	left:0;
	position: absolute;
	background-color:#99bbee;
	display:inline-block;
	transition: all 0.25s;
}

/*
 * mask
 */
._qui-mask {
	position: fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:9999999999;
}

/*
 * disable
 */
._qui-disable {
	position: relative;
	opacity:0.5;
}
._qui-disable-inner {
	position: absolute;
	z-index:1;
	top:0;
	left:0;
	width:100%;
	height:100%;
	cursor: not-allowed;
	background-color:rgba(255,255,255,0.5);
}

/*
 * textarea
 */
._qui-sudo-textarea {
	border:1px solid transparent;
	color:transparent;
	word-wrap:anywhere;
	white-space:pre-wrap;
}